
@media screen and (max-width: 1024px) {

  *{
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }
  
}
